{% extends '::base.html.twig' %}

{% block main_title %}
{% trans %}title.account_management{% endtrans %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">

$(document).ready(function() {
    validate_init('#add_form', {
        username: {
            minlength: 2,
            required: true
        },

        password: {
            minlength: 3,
            required: true
        },

        name: {
            minlength: 1,
            required: true
        },

        email: {
            email: true,
            required: true
        },

        business_name: {
            minlength: 1,
            required: true
        },

        phone: {
            number: true,
            required: true,
            minlength: 7
        }
    });

    validate_init('#edit_form', {
            name: {
                minlength: 1,
                required: true
            },

            email: {
                email: true,
                required: true
            },

            business_name: {
                minlength: 1,
                required: true
            },

            phone: {
                number: true,
                required: true,
                minlength: 7
            }
    });


    $('.account_add').click(function() {
        $('.acc_username').val('');
        $('.acc_name').val('');
        $('.acc_email').val('');
        $('.acc_business_name').val('');
        $('.acc_phone').val('');
        $('.acc_address').val('');
        $('.acc_bill_business_name').val('');
        $('.acc_bill_name').val('');
        $('.acc_bill_email').val('');
        $('.acc_bill_phone').val('');
        $('.acc_bill_address').val('');
        $('.acc_enable').val('1');
    });

    $('.account_edit').click(function () {
        var acc_id = $(this).data('id');
        $('#edit_form').attr('action', '/account/' + acc_id);
        $.get('/account/' + acc_id, function(acc) {
            $('.acc_multi_client').prop('checked', acc.multi_client);
            $.uniform.update();

            $('.acc_username').val(acc.username);
            $('.acc_name').val(acc.name);
            $('.acc_email').val(acc.email);
            $('.acc_business_name').val(acc.business_name);
            $('.acc_phone').val(acc.phone);
            $('.acc_address').val(acc.address);
            $('.acc_bill_business_name').val(acc.bill_business_name);
            $('.acc_bill_name').val(acc.bill_name);
            $('.acc_bill_email').val(acc.bill_email);
            $('.acc_bill_phone').val(acc.bill_phone);
            $('.acc_bill_address').val(acc.bill_address);
            $('.acc_enable').val(acc.enable);
        }, 'json');
    });
});
</script>
{% endblock %}

{% block body %}
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Account Management 
            </h3>
                {{ flash.display_flash_messages }}

                <button class="btn green account_add" style="margin-bottom: 4px;"  data-toggle="modal" href="#addAccount"><i class="icon-plus"></i> Add New Account</button>
                 
                <div class="portlet-body no-more-tables">
                    <table class="table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                            <th></th>
                              <th>Business Details</th>
                              <th>Billing Details</th>
                            <th>Total Active Clients</th>
                            <th>Total Numbers</th>
                            <th>Calls Received</th>
                            <th>Total Call Duration<br /><small>hh:mm:ss</small></th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for acc in accounts %}
                            <tr>
                                <td data-title="Status" style="text-align: center;" valign="top"><i class="{{ acc.isEnabled ? 'icon-ok-sign' : 'icon-remove-sign' }}"></i></td>  
                                <td data-title="Business Details" valign="top">
                                    <strong>{{ acc.getBusinessName }}</strong><br />
                                    <small>
                                    <strong>Multi-Client Account?</strong> {{ acc.isMultiClientText }}<br />
                                    <strong>Username:</strong> {{ acc.getUsername }}<br />
                                    <strong>Contact: <a href="mailto:{{ acc.getEmail }}">{{ acc.getName }}</a></strong><br />
                                    <strong>Phone:</strong> {{ acc.getPhone }}<br />
                                    <strong>Address:</strong> {{ acc.getAddress }}<br />
                                    <strong>Account Created:</strong> {{ acc.getDateCreateFormatted }}</small>
                                </td>  
                                <td data-title="Billing Details" valign="top">
                                    <small>
                                        <strong>Contact: <a href="mailto:{{ acc.getBillEmail }}">{{ acc.getBillName }}</a></strong><br />
                                        <strong>Phone:</strong> {{ acc.getBillPhone }}<br />
                                        <strong>Address:</strong> {{ acc.getBillAddress }}
                                    </small>
                                </td>  
                                <td data-title="Total Active Clients" valign="top">
                                    <small>
                                    {% for ac in aggr_count[acc.getID] %}
                                        <strong>{{ ac.getDateIn.format('m/y') }}</strong>: {{ ac.getClient }}<br />
                                    {% endfor %}
                                    <!--
                                        <strong>03/13</strong>: 1<br />
                                        <strong>04/13</strong>: 1<br />
                                        <strong>05/13</strong>: 1<br />
                                        <strong>06/13</strong>: 3<br />
                                        <strong>07/13</strong>: 3<br />
                                        <strong>08/13</strong>: 3<br />
                                        <strong>09/13</strong>: 5
                                    -->
                                    </small>
                                </td>
                                <td data-title="Total Numbers" valign="top">
                                    <small>
                                    {% for ac in aggr_count[acc.getID] %}
                                        <strong>{{ ac.getDateIn.format('m/y') }}</strong>: {{ ac.getNumber }}<br />
                                    {% endfor %}
                                    <!--
                                        <strong>03/13</strong>: 20<br />
                                        <strong>04/13</strong>: 30<br />
                                        <strong>05/13</strong>: 30<br />
                                        <strong>06/13</strong>: 80<br />
                                        <strong>07/13</strong>: 82<br />
                                        <strong>08/13</strong>: 85<br />
                                        <strong>09/13</strong>: 120
                                    -->
                                    </small>
                                </td>
                                <td data-title="Calls Received" valign="top">
                                    <small>
                                    {% for ac in aggr_count[acc.getID] %}
                                        <strong>{{ ac.getDateIn.format('m/y') }}</strong>: {{ ac.getCall }}<br />
                                    {% endfor %}
                                    <!--
                                        <strong>03/13</strong>: 120<br />
                                        <strong>04/13</strong>: 200<br />
                                        <strong>05/13</strong>: 269<br />
                                        <strong>06/13</strong>: 680<br />
                                        <strong>07/13</strong>: 1,008<br />
                                        <strong>08/13</strong>: 1,120<br />
                                        <strong>09/13</strong>: 2,053
                                    -->
                                    </small>
                                </td>
                                <td data-title="Total Call Duration" valign="top">
                                    <small>
                                    {% for ac in aggr_count[acc.getID] %}
                                        <strong>{{ ac.getDateIn.format('m/y') }}</strong>: {{ ac.getDurationFormatted }}<br />
                                    {% endfor %}
                                    <!--
                                        <strong>03/13</strong>: 00:45:12<br />
                                        <strong>04/13</strong>: 01:05:12<br />
                                        <strong>05/13</strong>: 00:02:12<br />
                                        <strong>06/13</strong>: 02:45:12<br />
                                        <strong>07/13</strong>: 03:01:10<br />
                                        <strong>08/13</strong>: 05:45:12<br />
                                        <strong>09/13</strong>: 11:45:12
                                    -->
                                    </small>
                                </td>
                                <td data-title="Action" valign="top">
                                    <a href="/?_switch={{ acc.getUsername }}" data-toggle="modal" role="button" class="btn mini" ><i class="icon-key"></i> login as account</a>												
                                    <button href="#editAccount" data-toggle="modal" data-id="{{ acc.getID }}" role="button" class="btn mini account_edit" ><i class="icon-edit"></i> edit</button>
                                </td>   
                            </tr>
                        {% endfor %}



                        </tbody>
                    </table>
                    
                    <!-- Add MODAL -->
                    <div id="addAccount" class="modal hide fade" tabindex="-1" data-width="760">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h3>Add Client</h3>
                        </div>
                        <form id="add_form" method="post" action="/account">
                        <div class="modal-body">
                            <div class="row-fluid">
                                <div class="span6">
                                    <h4>Business Details</h4>
                                    <p class="control-group"><input name="multi_client" type="checkbox" class="acc_multi_client" value="1"> Multi-Client Account?</p>
                                    <p class="control-group">
                                        <span class="control-label">Username *</span><br />
                                        <input name="username" type="text" class="span12 m-wrap acc_username">
                                    </p>
                                    <p class="control-group"><span class="control-label">Password *</span><br /><input name="password" type="password" class="span12 m-wrap acc_password"></p>
                                    <p class="control-group"><span class="control-label">Contact Name *</span><br /><input name="name" type="text" class="span12 m-wrap acc_name"></p>
                                    <p class="control-group"><span class="control-label">Email *</span><br /><input name="email" type="text" class="span12 m-wrap acc_email"></p>
                                    <p class="control-group"><span class="control-label">Business Trading Name *</span><br /><input name="business_name" type="text" class="span12 m-wrap acc_business_name"></p>
                                    <p class="control-group"><span class="control-label">Phone *</span><br /><input name="phone" type="text" class="span12 m-wrap acc_phone"></p>
                                    <p>Address<br /><input name="address" type="text" class="span12 m-wrap acc_address"></p>
                                </div>
                                <div class="span6">
                                    <h4>Billing Details</h4>
                                    <p>&nbsp;</p>
                                    <p>Billing Full Business Name<br /><input name="bill_business_name" type="text" class="span12 m-wrap acc_bill_business_name"></p>
                                    <p>Billing Contact Name<br /><input name="bill_name" type="text" class="span12 m-wrap acc_bill_name"></p>
                                    <p>Billing Email<br /><input name="bill_email" type="text" class="span12 m-wrap acc_bill_email"></p>
                                    <p>Billing Phone<br /><input name="bill_phone" type="text" class="span12 m-wrap acc_bill_phone"></p>
                                    <p>Billing Address<br /><input name="bill_address" type="text" class="span12 m-wrap acc_bill_address"></p>
                                    <p>Account Status *<br />
                                        <select name="enabled" class="acc_enable small m-wrap" tabindex="1">
                                                <option value="1">Active</option>
                                                <option value="0">Disabled</option>
                                            </select></p>
                                </div>
                            </div>
                        </div>
                
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            <input type="submit" class="btn green" value="Add Account" />
                        </div>
                        </form>
                    </div>															
                    <!-- End Add MODAL -->
                    
                    <!-- Edit MODAL -->
                    <div id="editAccount" class="modal hide fade" tabindex="-1" data-width="760">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h3>Edit Account</h3>
                        </div>
                        <form id="edit_form" method="post" action="/account/0">
                        <div class="modal-body">
                            <div class="row-fluid">
                                <div class="span6">
                                    <h4>Business Details</h4>
                                    <p class="control-group"><input class="acc_multi_client" name="multi_client" type="checkbox" value="1"> Multi-Client Account?</p>
                                    <p class="control-group">Username *<br /><input name="username" type="text" class="span12 m-wrap acc_username" disabled="disabled"></p>
                                    <p class="control-group">Password<br /><input name="password" type="password" class="span12 m-wrap acc_password"></p>
                                    <p class="control-group"><span class="control-label">Contact Name *</span><br /><input id="acc_name" name="name" type="text" class="span12 m-wrap acc_name"></p>
                                    <p class="control-group"><span class="control-label">Email *</span><br /><input id="acc_email" name="email" type="text" class="span12 m-wrap acc_email"></p>
                                    <p class="control-group"><span class="control-label">Business Trading Name *</span><br /><input id="acc_business_name" name="business_name" type="text" class="span12 m-wrap acc_business_name"></p>
                                    <p class="control-group"><span class="control-label">Phone *</span><br /><input id="acc_phone" name="phone" type="text" class="span12 m-wrap acc_phone"></p>
                                    <p>Address<br /><input id="acc_address" name="address" type="text" class="span12 m-wrap acc_address"></p>
                                </div>
                                <div class="span6">
                                    <h4>Billing Details</h4>
                                    <p>&nbsp;</p>
                                    <p>Billing Full Business Name<br /><input id="acc_bill_business_name" name="bill_business_name" type="text" class="span12 m-wrap acc_bill_business_name"></p>
                                    <p>Billing Contact Name<br /><input id="acc_bill_name" name="bill_name" type="text" class="span12 m-wrap acc_bill_name"></p>
                                    <p>Billing Email<br /><input id="acc_bill_email" name="bill_email" type="text" class="span12 m-wrap acc_bill_email"></p>
                                    <p>Billing Phone<br /><input id="acc_bill_phone" name="bill_phone" type="text" class="span12 m-wrap acc_bill_phone"></p>
                                    <p>Billing Address<br /><input id="acc_bill_address" name="bill_address" type="text" class="span12 m-wrap acc_bill_address"></p>
                                    <p>Account Status *<br />
                                        <select id="acc_enable" name="enabled" class="acc_enable small m-wrap" tabindex="1">
                                                <option value="1">Active</option>
                                                <option value="0">Disabled</option>
                                            </select></p>
                                </div>
                            </div>
                        </div>
                
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                            <input type="submit" class="btn green" value="Save Changes" />
                        </div>
                        </form>
                    </div>															
                    <!-- End Edit MODAL -->
                </div>

        </div>
    </div>
</div>
<!-- END PAGE CONTAINER--> 
{% endblock %}
