{% macro display_log(log, client_timezone) %}
<tr class="log_row" data-id="{{ log.getID }}" id="log_{{ log.getCallID }}">
    <td class="callLogDate">
        <strong>{{ log.getDateStart.setTimezone(client_timezone).format('d M') }}</strong>
        <br />
        <small>{{ log.getDateStart.setTimezone(client_timezone).format('H:i:s') }}</small><br />
        {% if (log.getAudioRecord != null) %}
        <audio controls>
            <source src="{{ log.getAudioRecord }}" type="audio/mp3" />
        </audio>
        {% endif %}
    </td>
    <td class="callLogCaller">
        <strong>{{ log.getOriginFormatted }}</strong>
    </td>
    <td class="callLogDestination">
        <strong>{{ log.getDialledFormatted }}</strong>
        <br />
        <a href="/client/{{ log.getClientID }}/campaigns">{{ log.getCampaign.getName }}</a> &raquo;
        <a href="/campaign/{{ log.getCampaignID }}/adgroups">{{ log.getAdGroup.getName }}</a> &raquo;
        <a href="/adgroup/{{ log.getAdGroupID }}/adverts">{{ log.getAdvert.getName }}</a>
    </td>
    {% if (log.isFailed) %}
    <td  class="callLogResult callLogRed">
        <strong>{{ log.getDestinationFormatted }}</strong>
        <br />
        <small>
            {% trans %}text.caller{% endtrans %}: {{ log.getHangupCause }}<br />
            {% trans %}text.receiver{% endtrans %}: {{ log.getHangupCauseB }}
        </small>
    </td>
    {% else %}
    <td  class="callLogResult callLogGreen">
        <strong>{{ log.getDestinationFormatted }}</strong>
        <br />
        <small>
            {{ log.getHangupCause }}<br />
            {% trans %}text.call_duration{% endtrans %}: {{ log.getDuration }} seconds
        </small>
    </td>
    {% endif %}
</tr>
{% endmacro %}

{% macro old_display_log(log) %}
<tr class="log_row" data-id="{{ log.getID }}">
    <td data-title="Caller Number">{{ log.getOriginFormatted }}</td>
    <td data-title="Dialled Number">{{ log.getDialledFormatted }}</td>
    <td data-title="Destination Number">{{ log.getDestinationFormatted }}</td>
    <td data-title="Call Start Time">
    {{ log.getDateStart.setTimezone(client_timezone).format('H:i:s') }}<br /><small>{{ log.getDateStart.setTimezone(client_timezone).format('M d Y') }}</small>
    </td>
    <td data-title="Call End Time">
    {{ log.getDateEnd.setTimezone(client_timezone).format('H:i:s') }}<br /><small>{{ log.getDateEnd.setTimezone(client_timezone).format('M d Y') }}</small>
    </td>
    <td data-title="Duration">{{ log.getDuration }}s</td>
    <td data-title="Hangup Cause">{{ log.getHangupCause }}</td>
    <td data-title="Hangup Cause B">{{ log.getHangupCauseB }}</td>
    <td data-title="Advert"><a href="/adgroup/{{ log.getAdGroupID() }}/adverts">{{ log.getAdvert.getName }}</a></td>
    <td data-title="AdGroup"><a href="/campaign/{{ log.getCampaignID() }}/adgroups">{{ log.getAdGroup.getName }}</a></td>
    <td data-title="Campaign"><a href="/client/{{ log.getClientID() }}/campaigns">{{ log.getCampaign.getName }}</a></td>
</tr>
{% endmacro %}
