{% extends 'OnCallAdminBundle::item.html.twig' %}

{% block title %}
{{ parent.getName }} <small>AdGroup</small>
{% endblock %}


{% block delete_text %}
<p>Deleting an Advert will permanently delete all tracking data tied to it. Phone numbers will be released and made available to use in other Campaigns (meaning that if anyone tries to call these numbers they will not be able to connect). Press "Delete All Data" to proceed.</p>
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/client/{{ parent.getParent.getParent.getID }}/campaigns">{{ parent.getParent.getParent.getName }}</a>
    <i class="icon-angle-right"></i>
</li>
<li>
    <a href="/campaign/{{ parent.getParent.getID }}/adgroups">{{ parent.getParent.getName }}</a>
    <i class="icon-angle-right"></i>
</li>
<li>
    {{ parent.getName }}
    <i class="icon-angle-right"></i>
</li>
<li>
    Adverts
</li>
{% endblock %}

{% block modal_add %}
<div id="addModal" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Add Advert</h3>
    </div>
    <form method="post">
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <h4>Advert Name</h4>
                <p><input type="text" name="name" class="span6 m-wrap"></p>
                <h4>Advert Number</h4>
                <p>                                                 
                    <select name="number" class="m-wrap" tabindex="1">
                    {% for num in numbers %}
                        <option value="{{ num.getID }}">{{ num.getID }}</option>
                    {% endfor %}
                    </select>
                    <br />Need more numbers? Open <a href="/numbers">Number Management</a>
                </p>
                <h4>Advert Destination</h4>
                <ul>
                        <li>Do not enter spaces or + </li>
                        <li>Include the country code</li>
                        <li>e.g. 85266821490</li>
                    </ul>
                <p><input name="destination" type="text" class="span6 m-wrap"></p>
                <!-- Kendrick: Advanced Rules (and override) should only be shown to an admin -->
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <h4>Advanced Rules (admin only)</h4>
                <p><textarea name="xml_replace" class="span12 m-wrap"></textarea></p>
                <p><input name="xml_override" type="checkbox" class="checkboxes" value="1" /> Override Desitnation</p>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        <input type="submit" class="btn green" value="Add Advert" />
    </div>
    </form>
</div>
{% endblock %}

{% block modal_edit %}
<div id="editModal" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Edit Advert</h3>
    </div>
    <form id="edit_form" method="post">
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <h4>
                    Advert Number: 
                    <span id="item_name_static" class="item_number_id"></span>
                    <select id="item_name_dropdown" name="number" class="m-wrap" tabindex="1">
                    {% for num in numbers %}
                        <option value="{{ num.getID }}">{{ num.getID }}</option>
                    {% endfor %}
                    </select>
                </h4>
                <br />
                <h4>Advert Name</h4>
                <p>
                    <input name="name" type="text" class="item_name span6 m-wrap">
                </p>

                <h4>Advert Destination</h4>
                <ul>
                        <li>Do not enter spaces or + </li>
                        <li>Include the country code</li>
                        <li>e.g. 85266821490</li>
                    </ul>
                <p><input name="destination" type="text" class="item_destination span6 m-wrap"></p>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <!-- Kendrick: Advanced Rules (and override) should only be shown to an admin -->
                <h4>Advanced Rules (admin only)</h4>
                <p><textarea name="xml_replace" class="item_xml_replace span12 m-wrap"></textarea></p>
                <p><input name="xml_override" type="checkbox" class="item_xml_override checkboxes" value="1" /> Override Desitnation</p>
                {% endif %}
                <!-- Kendrick: This should only show to an admin if the Advert status is "deleted" -->
                <h4>Advert Status</h4>
                <p><select name="status" class="item_status small m-wrap" tabindex="1">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
        <input type="submit" class="btn green" value="Save changes" />
    </div>
</div>      
{% endblock %}

{% block ajax_update_item %}
<script>
function update_item(data)
{
    if (!data.number_id)
    {
        $('#item_name_static').addClass('hidden');
        $('#item_name_dropdown').removeClass('hidden');
    }
    else
    {
        $('#item_name_static').removeClass('hidden');
        $('#item_name_dropdown').addClass('hidden');
        $('#item_name_dropdown').val(data.number_id);
    }

    $('.item_name').val(data.name);
    $('.item_name_text').html(data.name);
    $('.item_delete_button').val('Delete All Data for: ' + data.name);
    $('.item_status').val(data.status);

    $('.item_number_id').html(data.number_id);
    $('.item_destination').val(data.destination);
    $('.item_xml_replace').val(data.xml_replace);
    $('.item_xml_override').prop('checked', data.xml_override);
    $.uniform.update();
}
</script>
{% endblock %}
