{% extends 'OnCallAdminBundle::item.html.twig' %}

{% set name = 'num.advert' | trans %}
{% set url_prefix = 'advert' %}

{% block main_title %}
{% trans %}title.adverts{% endtrans %}
{% endblock %}

{% block title %}
{{ parent.getName }} <small>{% trans %}advert.adgroup{% endtrans %}</small>
{% endblock %}


{% block delete_text %}
<p>{% trans %}advert.delete_text{% endtrans %}</p>
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/client/{{ parent.getParent.getParent.getID }}/campaigns?{{ params_child }}">{{ parent.getParent.getParent.getName }}</a>
    <i class="icon-angle-right"></i>
</li>
<li>
    <a href="/campaign/{{ parent.getParent.getID }}/adgroups?{{ params_child }}">{{ parent.getParent.getName }}</a>
    <i class="icon-angle-right"></i>
</li>
<li>
    {{ parent.getName }}
    <i class="icon-angle-right"></i>
</li>
<li>
    {% trans %}advert.adverts{% endtrans %}
</li>
{% endblock %}

{% block modal_add %}
<form id="add_form" method="post">
<div id="addModal" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>{% trans %}advert.add_advert{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <h4>{% trans %}advert.advert_name{% endtrans %}</h4>
                <p class="control-group"><input type="text" name="name" class="span12 m-wrap"></p>

			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h4>{% trans %}advert.advert_number{% endtrans %}</h4>
				<p>                                                 
					<select name="number" class="m-wrap" tabindex="1">
						<option value="0" selected="selected"></option>
						{% for num in numbers %}
						<option value="{{ num.getID }}">{{ num.getIDFormatted }}</option>
						{% endfor %}
					</select>
				   <!-- <br />{% trans %}advert.need_more{% endtrans %} <a href="/client/{{ client_id }}/numbers">{% trans %}menu.number_management{% endtrans %}</a>-->
				</p>
			</div>
			<div class="span6">
				<h4>{% trans %}advert.advert_destination{% endtrans %}</h4>
				<!--{% trans %}advert.not_spaces{% endtrans %}. {% trans %}advert.include_country_code{% endtrans %}. {% trans %}advert.eg_number{% endtrans %}.-->
				<p><input name="destination" type="text" class="span12 m-wrap"></p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h4>{% trans %}advert.recording{% endtrans %}</h4>
				<p>
					<input name="record" type="checkbox" class="checkboxes" />
					{% trans %}advert.record_calls{% endtrans %}
				</p>
			</div>
			<div class="span6">
				<h4>Play Message</h4>
				<p>
					<input name="speak" type="checkbox" class="checkboxes" />
					{% trans %}advert.speak_message{% endtrans %}
				</p>
				<p>
					<input name="speak_message" type="text" class="span12 m-wrap" />
				</p>
			</div>
		</div>


		

		{% if is_granted('ROLE_PREVIOUS_ADMIN') %}
		<!-- Kendrick: Advanced Rules (and override) should only be shown to an admin -->
		<div class="span12">
			<h4>{% trans %}advert.advanced_rules{% endtrans %}</h4>
			<p><textarea name="xml_replace" class="span12 m-wrap"></textarea></p>
			<p><input name="xml_override" type="checkbox" class="checkboxes" value="1" /> {% trans %}advert.override_destination{% endtrans %}</p>
		</div>
		{% endif %}
	


    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">{% trans %}text.cancel{% endtrans %}</button>
        <input type="submit" class="btn green" value="{% trans %}advert.add_advert{% endtrans %}" />
    </div>
</div>
</form>
{% endblock %}

{% block modal_edit %}
<form id="edit_form" method="post">
<div id="editModal" class="modal hide fade" tabindex="-1" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>{% trans %}item.edit{% endtrans %} {{ name }}</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12">
                <h4>{% trans %}advert.advert_name{% endtrans %}</h4>
                <p class="control-group"><input name="name" type="text" class="item_name span12 m-wrap"></p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
                <h4>{% trans %}advert.advert_number{% endtrans %}</h4>
                <p>
                    <select id="item_number_dropdown" name="number" class="m-wrap" tabindex="1">
                        <option id="item_number_blank" value="0"></option>
                        {% for num in numbers %}
                        <option value="{{ num.getID }}">{{ num.getIDFormatted }}</option>
                        {% endfor %}
                    </select>
                </p>
			</div>
			<div class="span6">
                <h4>{% trans %}advert.advert_destination{% endtrans %}</h4>
                <!--{% trans %}advert.not_spaces{% endtrans %}. {% trans %}advert.include_country_code{% endtrans %}. {% trans %}advert.eg_number{% endtrans %}. -->
                <p><input name="destination" type="text" class="item_destination span12 m-wrap"></p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
                <h4>{% trans %}advert.recording{% endtrans %}</h4>
                <p>
                    <input name="record" type="checkbox" class="item_record checkboxes" />
                    {% trans %}advert.record_calls{% endtrans %}
                </p>
			</div>
			<div class="span6">
				<h4>Play Message</h4>
                <p>
                    <input name="speak" type="checkbox" class="item_speak checkboxes" />
                    {% trans %}advert.speak_message{% endtrans %}
                </p>
                <p>
                    <input name="speak_message" type="text" class="item_speak_message span12 m-wrap" />
                </p>
			</div>
		</div>

        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="row-fluid">
            <div class="span12">
                <!-- Kendrick: Advanced Rules (and override) should only be shown to an admin -->
                <h4>{% trans %}advert.advanced_rules{% endtrans %}</h4>
                <p><textarea name="xml_replace" class="item_xml_replace span12 m-wrap"></textarea></p>
                <p><input name="xml_override" type="checkbox" class="item_xml_override checkboxes" value="1" /> {% trans %}advert.override_destination{% endtrans %}</p>
                <!-- Kendrick: This should only show to an admin if the Advert status is "deleted" -->
                <h4>{% trans %}advert.advert_status{% endtrans %}</h4>
                <p><select name="status" class="item_status small m-wrap" tabindex="1">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select></p>
            </div>
        </div>
        {% endif %}

    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">{% trans %}text.cancel{% endtrans %}</button>
        <input type="submit" class="btn green" value="{% trans %}text.save_changes{% endtrans %}" />
    </div>
</div>      
</form>
{% endblock %}

{% block ajax_update_item %}
<script>
function update_item(data)
{
    // no number id
    if (!data.number_id)
    {
        $('.item_number_option').remove();
        $('#item_number_blank').prop('selected', true);
    }
    else
    {
        $('.item_number_option').remove();
        $('#item_number_blank').after('<option class="item_number_option" value="' + data.number_id + '" selected="selected">' + data.number_id_formatted + '</option>');
    }

    $('.item_name').val(data.name);
    $('.item_name_text').html(data.name);
    $('.item_delete_button').html('{% trans %}text.delete{% endtrans %}');
    $('.item_status').val(data.status);

    $('.item_number_id').html(data.number_id);
    $('.item_destination').val(data.destination);
    $('.item_xml_replace').val(data.xml_replace);
    $('.item_xml_override').prop('checked', data.xml_override);
    $('.item_record').prop('checked', data.record);
    $('.item_speak').prop('checked', data.speak);
    $('.item_speak_message').val(data.speak_message);
    $.uniform.update();
}
</script>
{% endblock %}
