{% extends 'OnCallAdminBundle::item.html.twig' %}

{% block title %}
{{ parent.getName }} <small>Campaign</small>
{% endblock %}

{% block delete_text %}
<p>Deleting an AdGroup will release all phone numbers assigned to your adverts. Please note, you will be billed for these numbers until you relinquish them in Number Management. Press "Delete" to proceed.</p>
{% endblock %}

{% block breadcrumb %}
<li>
    <a href="/client/{{ parent.getClient.getID }}/campaigns?{{ params_child }}">{{ parent.getClient.getName }}</a>
    <i class="icon-angle-right"></i>
</li>
<li>
    {{ parent.getName }}
    <i class="icon-angle-right"></i>
</li>
<li>
    AdGroups
</li>
{% endblock %}
