{% extends '::base.html.twig' %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $('.client_edit').click(function() {
        var client_id = $(this).data('id');
        $('#edit_form').attr('action', '/client/' + client_id);
        $.get('/client/' + client_id, function(client) {
            $('#cl_name').val(client.name);
            $('#cl_timezone').val(client.timezone);
            $('#cl_status').val(client.status);
        }, 'json');
    });

    $('.client_delete').click(function() {
    });
});
</script>
{% endblock %}

{% block body %}
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Clients
            </h3>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
                <!-- EDIT CLIENT MODAL -->
                <div id="editClient" class="modal hide fade" tabindex="-1" data-width="760">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3>Edit Client</h3>
                    </div>
                    <form id="edit_form" method="post" action="/client/0">
                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="span6">
                                <h4>Client Name</h4>
                                <p><input id="cl_name" name="name" type="text" class="span12 m-wrap"></p>
                            </div>
                            <div class="span6">
                                <h4>Client Timezone</h4>
                                <p>
                                    <select id="cl_timezone" name="timezone" id="edit_timezone">
                                    {% for tz_key,tz_name in timezones %}
                                        <option value="{{ tz_key }}">{{ tz_name }}</option>
                                    {% endfor %}
                                    </select>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Kendrick : this only shows to the admin -->
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="row-fluid">
                                <div class="span6">
                                    <h4>Client Status</h4>
                                    <p><select id="cl_status" name="status" class="small m-wrap" tabindex="1">
                                        <option value="active">Active</option>
                                        <option value="deleted">Deleted</option>
                                    </select></p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                        <input type="submit" class="btn green" value="Save changes" />
                    </div>
                    </form>
                </div>
                <!-- End EDIT MODAL -->
                <!-- DELETE Client MODAL -->
                <div id="deleteClient" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3 id="myModalLabel3">Delete McDonalds</h3>
                    </div>
                    <div class="modal-body">
                        <p>Deleting a client will permanently delete all Campaigns, Ad Groups and Adverts contained within it. All tracking data tied to these campaigns will also be deleted and any phone numbers will be relinquished (meaning that if anyone tries to call these numbers they will not be able to connect). Press "Delete All Data" to proceed.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn pull-left green" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button data-dismiss="modal" class="btn red">Delete All Data for McDonalds</button>
                    </div>
                </div>
                <!-- END DELETE MODAL -->
                <!-- ADD CLIENT MODAL -->
                <div id="addClient" class="modal hide fade" tabindex="-1" data-width="760">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3>Add Client</h3>
                    </div>
                    <form method="post">
                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="span6">
                                <h4>Client Name</h4>
                                <p><input name="name" type="text" class="span12 m-wrap"></p>
                            </div>
                            <div class="span6">
                                <h4>Client Timezone</h4>
                                <p>
                                    <select name="timezone" id="add_timezone">
                                    {% for tz_key,tz_name in timezones %}
                                        {% if (tz_key == tz_selected) %}
                                        <option value="{{ tz_key }}" selected="selected">{{ tz_name }}</option>
                                        {% else %}
                                        <option value="{{ tz_key }}">{{ tz_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                        <input type="submit" class="btn green" value="Add Client" />
                    </div>
                    </form>
                </div>
                <!-- End ADD CLIENT MODAL -->
                        
                <div class="row-fluid">
                    {% for cli in clients %}
                    <div class="span3">
                        <div class="pricing-table">
                            <h3>
                                {% if cli.isInactive %}
                                    <i class="icon-remove-sign"></i> 
                                {% endif %}
                                <a href="client/{{ cli.getID }}/campaign">{{ cli.getName }}</a>
                            </h3>
                            <ul>
                                <li><i class="icon-angle-right"></i> {{ cli.getNumberCount }} numbers assigned</li>
                                <li><i class="icon-angle-right"></i> 0 calls in the past 24 hours</li>
                                <li><i class="icon-angle-right"></i> 0 calls this month</li>
                                <!-- To be added in later versions -->
                                <!--<li><i class="icon-angle-right"></i> 2,260 inclusive calls remaining</li>-->
                                <!--<li><i class="icon-angle-right"></i> $XXX/month + $0 overage in Aug</li>-->

                            </ul>
                            <a href="client/{{ cli.getID }}/campaign" class="btn mini green" ><i class="icon-edit"></i> view</a>
                            <button data-toggle="modal" data-id="{{ cli.getID }}" href="#editClient" class="btn mini client_edit" ><i class="icon-edit"></i> edit</button>
                            <button data-toggle="modal" data-id="{{ cli.getID }}" href="#deleteClient" href="#" class="btn mini "><i class="icon-trash"></i> delete</button>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- add a client box -->
                    <div class="span3">
                        <div class="pricing-table selected">
                            <h3>Add a Client</h3>
                            <div class="desc" style="margin-bottom: 0px; border-bottom: 0px;">
                                Add as many clients as you want without charge - billing only starts when you add an active number. <a href="">Learn more about how we charge</a>
                            </div>

                            <div class="rate" style="margin-top: 0px; padding-top: 13px;">
                                <div class="price">
                                    <div class="currency " style="width: 56px;">
                                    from HKD/mth
                                </div>
                                    <div class="amount ">
                                        $XXX
                                    </div>
                                </div>
                                <button data-toggle="modal" href="#addClient" class="btn green" style="border: 1px solid #fff;">
                                Add <i class="m-icon-swapright m-icon-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end add a client box -->
                    <div class="spance10 visible-phone"></div>
                </div>
                <!-- END INLINE NOTIFICATIONS PORTLET-->
            </div>
        </div>

    </div>
</div>
<!-- END PAGE CONTAINER--> 
{% endblock %}
