{% extends '::base.html.twig' %}

{% block main_title %}
{% trans %}title.clients{% endtrans %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function update_client(client_id)
{
    $.get('/client/' + client_id, function(client) {
        $('.cl_name').val(client.name);
        $('.cl_name_text').text(client.name);
        $('.cl_delete_text').val('{% trans %}text.delete{% endtrans %} ' + client.name);
        $('.cl_timezone').val(client.timezone);
        $('.cl_status').val(client.status);
    }, 'json');
}

$(document).ready(function() {
    $('.client_edit').click(function() {
        var client_id = $(this).data('id');
        $('#edit_form').attr('action', '/client/' + client_id);
        update_client(client_id);
    });

    $('.client_delete').click(function() {
        var client_id = $(this).data('id');
        $('#delete_form').attr('action', '/client/' + client_id + '/delete');
        update_client(client_id);
    });

    validate_init('#add_form', {
        name: {
            minlength: 1,
            required: true
        }
    });

    validate_init('#edit_form', {
        name: {
            minlength: 1,
            required: true
        }
    });
});
</script>
{% endblock %}

{% block body %}
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">{% trans %}menu.clients{% endtrans %}
            </h3>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <button class="btn green" style="marging-bottom: 4px;" data-toggle="modal" href="#addClient"><i class="icon-plus"></i> {% trans %}client.add{% endtrans %}</button>
                <br />
                <br />
                <!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
                <!-- EDIT CLIENT MODAL -->
                <form id="edit_form" method="post" action="/client/0">
                <div id="editClient" class="modal hide fade" tabindex="-1" data-width="760">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3>{% trans %}client.edit{% endtrans %}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="span6 control-group">
                                <h4 class="control-label">{% trans %}client.name{% endtrans %}</h4>
                                <p><input name="name" type="text" class="cl_name span12 m-wrap"></p>
                            </div>
                            <div class="span6">
                                <h4>{% trans %}client.timezone{% endtrans %}</h4>
                                <p><select class="cl_timezone" name="timezone">
                                    {% for tz_key,tz_name in timezones %}
                                        <option value="{{ tz_key }}">{{ tz_name }}</option>
                                    {% endfor %}
                                    </select></p>
                            </div>
                            <div class="clearfix"></div>
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <div class="row-fluid">
                                <div class="span6">
                                    <h4>{% trans %}client.status{% endtrans %}</h4>
                                    <p><select name="status" class="cl_status small m-wrap" tabindex="1">
                                        <option value="1">Active</option>
                                        <option value="0">Inactive</option>
                                    </select></p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">{% trans %}text.cancel{% endtrans %}</button>
                        <input type="submit" class="btn green" value="{% trans %}text.save_changes{% endtrans %}" />
                    </div>
                </div>
                </form>
                <!-- End EDIT MODAL -->
                <!-- DELETE Client MODAL -->
                <form id="delete_form" method="post" action="/client/0/delete">
                <div id="deleteClient" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3 id="myModalLabel3">{% trans %}text.delete{% endtrans %} <span class="cl_name_text"></span></h3>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}client.delete_text{% endtrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn pull-left green" data-dismiss="modal" aria-hidden="true">{% trans %}text.cancel{% endtrans %}</button>
                        <input type="submit" class="btn red cl_delete_text" value="{% trans %}text.delete{% endtrans %}" />
                    </div>
                </div>
                </form>
                <!-- END DELETE MODAL -->
                <!-- ADD CLIENT MODAL -->
                <form id="add_form" method="post">
                <div id="addClient" class="modal hide fade" tabindex="-1" data-width="760">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h3>{% trans %}client.add{% endtrans %}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row-fluid">
                            <div class="span6 control-group">
                                <h4 class="control-label">Client Name</h4>
                                <p><input name="name" type="text" class="span12 m-wrap"></p>
                            </div>
                            <div class="span6 control-group">
                                <h4 class="control-label">Client Timezone</h4>
                                <p>
                                    <select name="timezone" id="add_timezone">
                                    {% for tz_key,tz_name in timezones %}
                                        {% if (tz_key == tz_selected) %}
                                        <option value="{{ tz_key }}" selected="selected">{{ tz_name }}</option>
                                        {% else %}
                                        <option value="{{ tz_key }}">{{ tz_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn">{% trans %}text.cancel{% endtrans %}</button>
                        <input type="submit" class="btn green" value="{% trans %}client.add{% endtrans %}" />
                    </div>
                </div>
                </form>
                <!-- End ADD CLIENT MODAL -->
                        
                <div class="row-fluid">
                    {% for cli in clients %}
                    <div class="span3">
                        <div class="pricing-table">
                            <h3>
                                {% if cli.isInactive %}
                                    <i class="icon-remove-sign"></i> 
                                {% endif %}
                                <a href="client/{{ cli.getID }}/campaigns">{{ cli.getName }}</a>
                            </h3>
                            <ul>
                                <li><i class="icon-angle-right"></i> {{ cli.getNumberCount }} {% trans %}client.numbers_assigned{% endtrans %}</li>
                                <li><i class="icon-angle-right"></i> {{ summ_day[cli.getID] }} {% trans %}client.call_day{% endtrans %}</li>
                                <li><i class="icon-angle-right"></i> {{ summ_month[cli.getID] }} {% trans %}client.call_month{% endtrans %}</li>
                                <!-- To be added in later versions -->
                                <!--<li><i class="icon-angle-right"></i> 2,260 inclusive calls remaining</li>-->
                                <!--<li><i class="icon-angle-right"></i> $XXX/month + $0 overage in Aug</li>-->

                            </ul>
                            <a href="client/{{ cli.getID }}/campaigns" class="btn mini green" ><i class="icon-edit"></i> {% trans %}text.view{% endtrans %}</a>
                            <button data-toggle="modal" data-id="{{ cli.getID }}" href="#editClient" class="btn mini client_edit" ><i class="icon-edit"></i> {% trans %}text.edit{% endtrans %}</button>
                            <button data-toggle="modal" data-id="{{ cli.getID }}" href="#deleteClient" href="#" class="btn mini client_delete"><i class="icon-trash"></i> {% trans %}text.delete{% endtrans %}</button>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- end add a client box -->
                    <div class="spance10 visible-phone"></div>
                </div>
                <!-- END INLINE NOTIFICATIONS PORTLET-->
            </div>
        </div>

    </div>
</div>
<!-- END PAGE CONTAINER--> 
{% endblock %}
