{% extends '::base.html.twig' %}

{% block main_title %}
{% trans %}title.number_management{% endtrans %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function filter_redirect()
{
    var ftype = $('#filter_type').val();
    var fusage = $('#filter_usage').val();

    window.location.replace('/client/{{ client_id }}/numbers?usage=' + fusage + '&type=' + ftype);
}

$(document).ready(function() {
    $('#filter_usage').change(filter_redirect);
    $('#filter_type').change(filter_redirect);

    $('.delete_num').click(function() {
        var num_id = $(this).data('id');
        $('#dnum_id').html(num_id);
        $('#dnum_form').attr('action', '/number/' + num_id + '/unassign');
    });
});
</script>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">    
            <h3 class="page-title">{% trans %}menu.number_management{% endtrans %}
            </h3>
            <ul class="breadcrumb">
                <li>
                    {{ client.getName }}
                    <i class="icon-angle-right"></i>
                </li>
                <li>{% trans %}menu.number_management{% endtrans %}
                </li>
            </ul>

            {{ flash.display_flash_messages }}
            <!--
            <button class="btn green" style="margin-bottom: 4px;"  data-toggle="modal" href="#requestNumbers"><i class="icon-plus"></i> Request More Numbers</button> 
            <br /><br /><br />
            -->

            {% trans %}num.filter_usage{% endtrans %}:
            <select id="filter_usage" class="small m-wrap" tabindex="1">
                <option value="" {{ (usage is sameas('')) ? 'selected="selected"' : '' }}>-</option>
                <option value="1" {{ (usage is sameas('1')) ? 'selected="selected"' : '' }}>In Use</option>
                <option value="0" {{ (usage is sameas('0')) ? 'selected="selected"' : '' }}>Not In Use</option>
            </select>

            {% trans %}num.filter_type{% endtrans %}:
            <select id="filter_type" class="small m-wrap" tabindex="1">
                <option value="">-</option>
                {% for value,text in types %}
                    <option value="{{ value }}" {{ (type == value) ? 'selected="selected"' : '' }}>{{ text }}</option>
                {% endfor %}
            </select>
            <br />

            <!-- Add Number MODAL -->
            <form method="post" action="/client/{{ client_id }}/numbers/request">
            <div id="requestNumbers" class="modal hide fade" tabindex="-1" data-width="760">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3>Request Numbers</h3>
                    <ul>
                        <li>Numbers will be provisioned within 24 hours (Mon-Fri)</li>
                        <li>Numbers will be charged at HKD 29/month (pro rata)</li>
                    </ul>

                </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <h4>Number Details</h4>
                            <p>
                                How many phone numbers do you require?*<br />
                                <input name="number" type="text" class="span12 m-wrap">
                            </p>
                            <p>
                                Do you have any special requirements for the numbers?*<br />
                                <textarea name="requirements" class="span12 m-wrap"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
        
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                    <input type="submit" class="btn green" value="Request Numbers" />
                </div>
            </div> 
            </form>
            <!-- End Add Number MODAL -->
            
            <!-- DELETE Number MODAL -->
            <div id="deleteNumber" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel3">{% trans %}text.delete{% endtrans %} <span id="dnum_id">85266821490</span>?</h3>
                </div>
                <div class="modal-body">
                    <p>{% trans %}num.delete_text{% endtrans %}
                </div>
                <form id="dnum_form" method="post">
                <div class="modal-footer">
                    <button class="btn pull-left green" data-dismiss="modal" aria-hidden="true">{% trans %}text.cancel{% endtrans %}</button>
                    <input type="submit" class="btn red" value="{% trans %}num.delete_num{% endtrans %}" />
                </div>
                </form>
            </div>
            <!-- END Number MODAL -->

            <form id="assign_form" method="post" action="/account/0/numbers">
            <table class="table-bordered table-striped table-condensed cf">
                <thead>
                    <tr>
                        <th style="width:108px;">{% trans %}num.number{% endtrans %}</th>
                        <th>{% trans %}num.in_use{% endtrans %}</th>
                        <th>{% trans %}num.advert{% endtrans %}</th>
                        <th>{% trans %}num.adgroup{% endtrans %}</th>
                        <th>{% trans %}num.campaign{% endtrans %}</th>
                        <th>{% trans %}num.type{% endtrans %}</th>
                        <th>{% trans %}num.cost{% endtrans %} (HKD)</th>
                        <th style="width:90px;">{% trans %}num.date_add{% endtrans %}</th>
                        <th>{% trans %}num.last_called{% endtrans %}<br /><small>dd/mm/yy hh:mm</small></th>
                        <th>{% trans %}num.action{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for num in numbers %}
                    <tr>
                        <td>{{ num.getIDFormatted }}</td>
                        <td>{{ num.isAssigned ? 'text.yes'|trans : 'text.no'|trans }}</td>
                        {% if num.getAdvert %}
                            <td><a href="/adgroup/{{ num.getAdGroup.getID }}/adverts">{{ num.getAdvertFormatted }}</a></td>
                        {% else %}
                            <td>{{ num.getAdvertFormatted }}</td>
                        {% endif %}
                        {% if num.getAdGroup %}
                            <td><a href="/adgroup/{{ num.getAdGroup.getID }}/adverts">{{ num.getAdGroupFormatted }}</a></td>
                        {% else %}
                            <td>{{ num.getAdGroupFormatted }}</td>
                        {% endif %}
                        {% if num.getCampaign %}
                            <td><a href="/campaign/{{ num.getCampaign.getID }}/adgroups">{{ num.getCampaignFormatted }}</a></td>
                        {% else %}
                            <td>{{ num.getCampaignFormatted }}</td>
                        {% endif %}
                        <td>{{ num.getTypeText }}</td>
                        <td>{{ num.getPriceResaleFormatted }}</td>
                        <td>{{ num.getDateAssignFormatted }}</td>
                        <td>{{ num.getDateLastCallFormatted }}</td>
                        <td>
                            {% if (not num.isAssigned) %}
                            <button href="#deleteNumber" data-toggle="modal" data-id="{{ num.getID }}" role="button" class="btn mini delete_num">{% trans %}text.relinquish{% endtrans %}</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
